@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";

body {
	background: url(../img/bg.jpg) right center no-repeat;
	background-size: cover;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 100vh;
	height: 100%;
}

.content {
	max-width: 670px;
	input {
		display: block;
		width: 100%;
		background: url(../img/search.png) right center no-repeat transparent;
		border: none;
		border-bottom: 1px solid #555251;
		outline: 0;
		height: 60px;
		padding: 0 30px 0 10px;
		font-size: 36px;
		color: #fff;
		font-family: 'museo_cy';
	}
}

.dropdown {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	min-height: 300px;
	&.active {
		display: block;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		height: 100%;
		overflow-y: auto;
		position: absolute;
		width: 100%;
		z-index: 1;
		background-image: url(../img/list-bg.png);
		&.no-posts {
			background-image: url(../img/no-posts.png), url(../img/list-bg.png);
			background-position: bottom 25px center;
			background-repeat: no-repeat, repeat;
		}
		.err {
			padding: 25px;
			color: #fff;
			font-size: 21px;
			line-height: 30px;
			font-family: 'museo';
		}
		span {
			color: #fff;
			font-size: 21px;
			font-family: 'museo';
			text-decoration: none;
			display: block;
			padding: 15px 0 15px 15px;
			border-bottom: 1px solid #040404;
			border-top: 1px solid rgba(255, 255, 255, .1);
			transition: all .3s ease-in-out;
			cursor: pointer;
			&:hover, &.focused {
				color: #85e475;
				background: rgba(0, 0, 0, .2);
				outline: 0;
			}
		}
	}
}

.product {
	&__inner {
		position: relative;
	}
	&__content {
		display: none;
		padding-bottom: 60px;
		background: url(../img/list-bg.png) repeat;
		position: relative;
		& div:last-of-type {
			border-bottom: none;
		}
		&.has-content {
			display: block;
		}
	}
	.random-posts {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		margin-top: 20px;
		&__item {
			width: 30%;
			height: 56px;
			border: 1px solid #fff;
			cursor: pointer;
			padding-left: 55px;
			display: flex;
			align-items: center;
			position: relative;
			transition: all .2s ease-in-out;
			&:hover {
				border-color: #85e475;
				span {
					color: #85e475;
				}
			}
			span {
				font-size: 14px;
				color: #fff;
				font-family: 'museo';
				font-size: 14px;
				transition: all .2s ease-in-out;
			}
			.thumb {
				position: absolute;
				left: 0;
				top: 0;
				width: 50px;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}
	&__category {
		line-height: 24px;
		margin: 0;
		padding: 20px 30px 20px 60px;
		border-bottom: 1px solid #040404;
		font-size: 18px;
		color: #85e475;
		font-family: 'museo';
		font-weight: 500;
		background-image: url(../img/weight-loss-green.png);
		background-repeat: no-repeat;
		background-position: top 24px left 30px;
		&.not-recommended {
			color: #ff7c7c;
			background-image: url(../img/weight-loss-red.png);
		}
		&-icon {
			display: block;
			max-width: 100%;
			height: auto;
			position: absolute;
			bottom: 20px;
			right: 20px;
			z-index: 0;
		}
	}
	&__description {
		padding: 0 30px 0px;
		border-bottom: 1px solid #040404;
		border-top: 1px solid rgba(255, 255, 255, .1);
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		font-family: 'museo';
	}
	&__nutrition {
		border-top: 1px solid rgba(255, 255, 255, .1);
		padding: 20px 30px;
		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			position: relative;
			&--item {
				margin-bottom: 12px;
				color: #fff;
				font-size: 16px;
				font-family: 'museo';
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.product .random-posts__item {
		width: 32%;
	}
}

@media screen and (max-width: 550px) {
	.product .random-posts {
		display: block;
	}
	.product .random-posts__item {
		width: 100%;
		margin-bottom: 10px;
		background: rgba(0, 0, 0, .8);
	}
}

@media screen and (max-width: 480px) {
	.content input {
		height: 50px;
		font-size: 25px;
		background-color: rgba(0, 0, 0, .7);
		background-position: right 10px center;
		padding-right: 40px;
	}
	.product__category {
		font-size: 14px;
		line-height: 21px;
	}
	.product__description,
	.product__nutrition-list--item {
		font-size: 14px;
	}
	.container {
		padding: 0 15px;
	}
}