@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";

html,body,.all-wrapper {
	height: 100%;
}

body {
	background: url(../img/bg.jpg) right center no-repeat;
	background-size: cover;
}

p {
	color: #fff;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: auto;
	height: 100%;
}

