extends _layout
block content
	.container
		.content
			.form
				input(type="text" placeholder="Введите продукт")
			.product
				.product__inner
					.dropdown
						ul.dropdown__list
							li.dropdown__list-item
								a(href="#") Гречневая крупа
							li.dropdown__list-item
								a(href="#") Молоко
							li.dropdown__list-item
								a(href="#") Еще что-то
							li.dropdown__list-item
								a(href="#") Гречневая крупа
							li.dropdown__list-item
								a(href="#") Молоко
							li.dropdown__list-item
								a(href="#") Еще что-то
							li.dropdown__list-item
								a(href="#") Гречневая крупа
							li.dropdown__list-item
								a(href="#") Молоко
							li.dropdown__list-item
								a(href="#") Еще что-то
							li.dropdown__list-item
								a(href="#") Гречневая крупа
							li.dropdown__list-item
								a(href="#") Молоко
							li.dropdown__list-item
								a(href="#") Еще что-то
					.product__content
						img.product__category-icon(src="img/cat/cat1-bg.png", alt="")
						p.product__category.not-recommended для похудения - Да. Лучше не чаще 1 раза в неделю. Да. Лучше не чаще 1 раза в неделю.
						.product__description
							p Рекомендована для первого и второго основных приемов пищи в качестве источника медленных углеводов
							p Греча богата медью, фосфором, железом; также в ней содержатся кальций, цинк и марганец, микроэлементы — фосфор, кальций, железо, марганец, цинк, медь.
						.product__nutrition
							ul.product__nutrition-list
								li.product__nutrition-list--item Калорийность: 313–340
								li.product__nutrition-list--item Белки: 9,5–12,6
								li.product__nutrition-list--item Жиры: 2,6–3,3
								li.product__nutrition-list--item Углеводы: 62,1–68


















block inlineScripts