extends _layout
block content
	main.main-content
		.sprite-example
			h2.heading Sprite example
			i.facebook-logo__icon
			i.google-plus-logo__icon
			i.instagram-logo__icon
			i.twitter-logo__icon
			i.youtube-logo__icon
		.author-git
			h2 Github link
			a(href="https://github.com/narek-t/gulp-jade-sass" target="_blank") https://github.com/narek-t/gulp-jade-sass



block inlineScripts