extends _layout
block content
	.container
		.content
			.form
				input(type="text" placeholder="Введите продукт")
			.dropdown
				ul.dropdown__list
					li.dropdown__list-item
						a(href="#") Гречневая крупа
					li.dropdown__list-item
						a(href="#") Молоко
					li.dropdown__list-item
						a(href="#") Еще что-то
					li.dropdown__list-item
						a(href="#") Гречневая крупа
					li.dropdown__list-item
						a(href="#") Молоко
					li.dropdown__list-item
						a(href="#") Еще что-то
					li.dropdown__list-item
						a(href="#") Гречневая крупа
					li.dropdown__list-item
						a(href="#") Молоко
					li.dropdown__list-item
						a(href="#") Еще что-то
					li.dropdown__list-item
						a(href="#") Гречневая крупа
					li.dropdown__list-item
						a(href="#") Молоко
					li.dropdown__list-item
						a(href="#") Еще что-то

block inlineScripts